<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="coffeeConnection" connectionString="Data Source=DESKTOP-GRRNP09\SQLEXPRESS;Initial Catalog=Coffeev6;Integrated Security=True"
  	providerName="System.Data.SqlClient"/>
  <add name="Coffeev5ConnectionString" connectionString="Data Source=DESKTOP-GRRNP09\SQLEXPRESS;Initial Catalog=Coffeev6;Integrated Security=True"
  	providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5.2"/>
	<pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages></system.web>
<appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
 </appSettings>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
</dependentAssembly>
<dependentAssembly>
<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
</dependentAssembly>
<dependentAssembly>
<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
</configuration>
